/* DEFAULT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 35px;
    display: block;
    border-radius: 50%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 1.5%;
    bottom: 1.5%;
    right: calc((100% - 1000px) / 2);
    left: calc((100% - 1000px) / 2);
    display: flex;
}

.row {
    display: flex;
    flex-basis: 100%;
}

.contacts {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
}

.active-contact {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* MAIN PAGE */

.user,  
.active-contact-info,
.send-input {
    flex-basis: 45px;
}

.notifications {
    flex-basis: 53px;
}

.search-bar {
    flex-basis: 30px;
}

.contacts-list {
    flex-grow: 1;
}

.active-contact-chat {
    flex-grow: 1;
}

/* BACKGROUND*/

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    height: 100vh;
}

.page::before {
    content: '';
    background-color: var(--dark-green);
    height: 95px;
}

.page::after {
    content: '';
    background-color: var(--grey);
    flex-grow: 1;
}

/* UTILITIES */

.bg-l-grey{
    background-color: var(--light-grey);
}

/* PALETTE */

:root {
    --grey: #D8DBD5;
    --dark-green: #009688;
    --light-grey: #EAEAEA;
}

/* DEBUG */

.debug .container {
    padding: 10px;
    border: 1px solid orange;
}

.debug .row {
    padding: 10px;
    border: 1px solid palevioletred;
}

.debug .row * {
    padding: 10px;
    border: 1px solid darkmagenta;
}