* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 1.5%;
    bottom: 1.5%;
    right: calc((100% - 1000px) / 2);
    left: calc((100% - 1000px) / 2);
}

.row {
    display: flex;
}

.contacts {
    flex-basis: 35%;
}

.chat {
    flex-grow: 1;
}

.page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    height: 100vh;
}

.bg-top{
    background-color: var(--dark-green);
    height: 95px;
}

.bg-main{
    background-color: var(--grey);
    flex-grow: 1;
}

/* PALETTE */

:root {
    --grey: #D8DBD5;
    --dark-green: #009688;
}

/* DEBUG */

.debug .container {
    padding: 10px;
    border: 1px solid orange;
}

.debug .row {
    padding: 10px;
    border: 1px solid palevioletred;
}

.debug .row * {
    padding: 10px;
    border: 1px solid darkmagenta;
}