/* DEFAULT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    display: block;
    border-radius: 50%;
    aspect-ratio: 1;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    top: 1.5%;
    bottom: 1.5%;
    right: calc((100% - 1000px) / 2);
    left: calc((100% - 1000px) / 2);
    display: flex;
}

.row {
    display: flex;
    flex-basis: 100%;
}

/* CONTACTS */

.contacts {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
}

.active-contact {
    display: flex;
    flex-direction: column;
}

/* MAIN PAGE */

.user,  
.active-contact-info,
.send-input {
    flex-basis: 45px;
}

.notifications {
    flex-basis: 53px;
}

.search-bar-container {
    flex-basis: 30px;
    background-color: white;
    padding: 5px;
}

.contacts-list {
    background-color: white;
}

/* USER */

.user,
.active-contact-info {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 15px 0 5px;
}

.user {
    border-right: 1px solid lightgray;
}

.user-picture,
.active-contact-picture {
    width: 35px;
}

.user-name,
.active-contact-name {
    font-size: 15px;
    font-weight: 400;
}

i {
    color: var(--icon-grey);
}

/* NOTIFICATIONS*/

.notifications {
    background-color: var(--light-blue);
    display: flex;
    align-items: center;
    padding: 5px 13px;
    gap: 6px;
}

.notifications-off {
    border-radius: 100%;
    background-color: white;
    width: 33px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications-off i {
    color: var(--light-blue);
}

.notifications-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notifications h4 {
    font-size: 10px;
}

.notifications span {
    font-size: 9px;
    color: darkgrey;
    text-decoration: underline;
    font-weight: 300;
}

/* SEARCH-BAR */

.search-bar {
    display: flex;
    border-radius: 2px;
    border: 1px solid rgba(234, 234, 234, 0.8);
}

.search-bar input {
    border: 0;
}

.search-icon {
    padding: 0 18px;
}

i {
    font-size: 12px;
}

/* CONTACTS LIST*/

.contact-preview {
    display: flex;
    padding: 6px;
    gap: 10px;
}

.contact-picture {
    width: 38px;
}

.contact-text h3 {
    font-size: 15px;
}

.contact-text p {
    font-size: 10px;
    color: var(--text-grey);
}

.last-text {
    color: var(--text-grey);
    font-size: 8px;
}

/* ACTIVE CONTACT */

.active-contact-info {
    display: flex;
    align-items: center;
}

.access-last {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

/* CHAT */

.active-contact-chat {
    background-image: url(../img/mine.jpg);
}

/* BACKGROUND*/

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    height: 100vh;
}

.page::before {
    content: '';
    background-color: var(--dark-green);
    height: 95px;
}

.page::after {
    content: '';
    background-color: var(--grey);
    flex-grow: 1;
}

/* UTILITIES */

.bg-l-grey {
    background-color: var(--light-grey);
}

.flex-grow-1 {
    flex-grow: 1;
}

/* PALETTE */

:root {
    --grey: #D8DBD5;
    --dark-green: #009688;
    --light-grey: #EAEAEA;
    --icon-grey: #B1B1B1;
    --light-blue: #8EDAFC;
    --text-grey: #D4D8E1;
}

/* DEBUG */

.debug .container {
    padding: 10px;
    border: 1px solid orange;
}

.debug .row {
    padding: 10px;
    border: 1px solid palevioletred;
}

.debug .row * {
    padding: 10px;
    border: 1px solid darkmagenta;
}